html, body {
background-color: #ffffff;
 height: 100%;
 width: 100%;
 padding: 0;
 margin: 0;
}


.parent {
  display: flex;
  height: 300px; /* Or whatever */
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}



/*.container {
	flex-direction: column;
	align-content: stretch;
	flex-wrap: nowrap;
	
	
	
	
	
	
	
	
	
	
  display: flex; /* or inline-flex */
/*}



.boxleft {
	height: 100%;
	width: 34%; 
	margin: 0%;
	background-color: #4A90E2;	
	float: left
}

.boxright {
	height: 100%;
	width: 33%; 
	margin: 0%;
	background-color: #B8E986;
	float: left
}

.boxcenter {
	height: 100%;
	width: 33%; 
	margin: 0%;
	background-color: #50E3C2;
	float: left;
	
	display: none;
}


img {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 33%;
   height: auto;
 
}